.NavWrapper{
    width: 100%;
    display: flex;
    background-color: #fff;
    justify-content: center;
}

/* Base styles: apply to 1080p and smaller */
.NavContentWrapper {
  width: 66%;
  display: flex;
  align-items: center;
}
/*the logo below was necessary for aligning the logo and logo span text*/
.Logo { 
    display: flex;
    align-items: center;
    justify-content: center;
}
.Logo i{
    font-size: 60px;
    text-decoration: none;
    color: #ff6e6e;
}
.Logo span{
    padding-left: 15px;
    font-size: 26px;
    letter-spacing: -0.5px;
    font-weight: 800;
    padding-right: 28px;
}
.Links{
    display: flex;
    height: 100%;
}
.Links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
.Links span{
    color: #9c9393;
    margin-left: 50px;
    font-size: 19px;
    letter-spacing:0.8px;
    font-weight: 500;
    cursor: pointer;
    border: 0px, solid, transparent;
    transition: all 0.1s ease;
}
.Links span:hover{
    border-bottom: 2px solid #000;
    color: #2c2a2a;
}
.LinkButton{
    display: flex;
    align-items: center;
    float: right;
    margin-left: 120px;
}
.LinkButton i{
    padding-right: 10px;
    font-size: 26px;
}
.LinkButton button{
    background: none;
    font-size: 25px;
    letter-spacing: -0.5px;
    font-weight: 700;
    background-color: #ff6e6e;
    color: #fff;
    width: 250px;
    height: 45px;
    border: none;
    border-radius: 10px;
    transition: all 0.4s ease;
    cursor: pointer;
}
.LinkButton:hover button{
    background-color: rgb(251, 50, 50)
}
.StoriesWrapper{
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #686363;
}
.StoriesDropDownWrapper{
    position: absolute;
    transform: translateY(325px);
    width: 480px;
    height: 625px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 40px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in;
}
.stories:hover + .StoriesDropDownWrapper,
.stories:focus + .StoriesDropDownWrapper,
.StoriesDropDownWrapper:hover,
.StoriesDropDownWrapper:focus-within {
  opacity: 1;
  pointer-events: auto;
}
.DropDownContent{
    display: flex;
    border-radius: 12px;
    height: 91%;
    width: 90%;
    background-color: #fff;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}
.DropDownTitle{
    padding-left: 9px;
}
.DropDownTitle h3{
    font-size: 1.4rem;
    padding-left: 7px;
}
.DropDownContentBoxes{
    border-radius: 15px;
    padding-left: 7px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;  
    background-color: #fff;  
    transition: all 0.2s ease-in;
}
.DropDownContentBoxes:hover{
    cursor: pointer;
    background-color: #dedddd;
}
.DropDownContentBoxesicon{
    font-size: 45px; 
    margin-right: 10px;
}
.DropDownContentBoxesicon img{
    width: 55px;
}

.DropDownContentBoxesText{
    padding-left: 10px;
}
.DropDownContentBoxesText h4{
    font-size: 18px;
    color: #000;
}
.DropDownContentBoxesText p{
    font-weight: bold;
    margin-bottom: 20px;
}

.DropDownContentBoxesText h4, p{
    margin: 10px 0;
    padding: 0;
}


/*very important: sets the width of the navbar to be an appropriate size for displays > 1080p such as my main monitor.*/
@media (min-width: 1921px) {
  .NavContentWrapper {
    width: 50%;
  }
}